.container {
  width: 100%;
  height: 850px;
  max-width: 1200px;
}
.wdt {
  width: 100%;
  max-width: 1200px;
}
.flex-c {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-c-c {
  display: flex;
  align-items: center;
}
.flex-bt {
  display: flex;
  justify-content: space-between;
}
.flex-bt-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-ar-c {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flex-ar-c {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.ma {
  margin: 0 auto;
}
.bb {
  border-bottom: 0.1rem solid #e99287;
}
.header {
  max-width: 1200px;
  display: flex;
  border: 0.1rem solid #364758;
  border-radius: 5px;
  margin: 20px auto 0;
  height: 45px;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header-ul {
  display: flex;
}
.header-li {
  min-width: 130px;
  list-style: none;
  border-right: 0.1rem solid #364758;
  padding: 12px;
  margin-left: 5px;
  text-align: center;
}
.header-li:not(#name, .page-hello):hover {
  color: #fea55f;
}
.li-contact {
  border-left: 0.1rem solid #364758;
  width: 130px;
  list-style: none;
  padding: 12px;
  margin-left: 5px;
  text-align: center;
}
.li-contact:hover {
  color: #fea55f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-color: #011221;
  font-family: "Fira Code", monospace;
  color: #e5e9f0;
}
body a {
  color: inherit;
  text-decoration: none;
}
body p {
  margin: 5px;
}
#name {
  width: 200px;
  text-align: left;
}
#hello {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 100%;
}
#hello h1 {
  font-size: 4rem;
  font-weight: 500;
}
#hello h2 {
  font-size: 2rem;
  font-weight: 400;
  color: #4d5bce;
  margin-bottom: 40px;
}
#hello p {
  margin-bottom: 10px;
  line-height: 1.8;
}
#hello .text-presentation {
  max-width: 650px;
  margin-right: 20px;
}
.page-hello {
  border-bottom: 0.1rem solid #e99287;
}
#github-project {
  display: flex;
  align-items: center;
}
#github-project p {
  font-size: 1.2rem;
}
#github-project #var {
  color: #4d5bce;
}
#github-project #gt-link {
  color: #3c9d93;
}
#github-project #link-presentation {
  color: #fea55f;
}
.box-presentation {
  width: 500px;
  height: 460px;
  background-image: linear-gradient(#3c9d93, #4d5bce);
  border-radius: 20px;
  border: 0.5px solid black;
}
.circle {
  position: relative;
  width: 13px;
  height: 13px;
  background-color: #011221;
  border-radius: 50%;
}
#top-left {
  top: 11px;
  left: 9px;
}
#top-right {
  top: -3px;
  left: 95%;
}
#bottom-left {
  top: 89%;
  left: 10px;
}
#bottom-right {
  top: 86%;
  left: 95.3%;
}
#sobre-mim {
  position: relative;
  max-width: 1200px;
  border-bottom: 0.1rem solid #364758;
  border-right: 0.1rem solid #364758;
  border-left: 0.1rem solid #364758;
  border-radius: 5px;
  height: 659px;
  margin-bottom: 30px;
  margin: 0 auto;
}
#sobre-mim .header {
  border: none;
  width: 100%;
  max-width: 1200px;
  border-top: 0.1rem solid #364758;
  border-bottom: 0.1rem solid #364758;
}
#sobre-mim .header-li {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#sobre-mim .header-li:not(#name) {
  width: 220px;
}
#sobre-mim img {
  width: 18px;
  height: 18px;
}
#sobre-mim .btn-x {
  width: 21px;
  height: 20px;
  background-color: transparent;
  border: none;
  color: #e5e9f0;
  cursor: pointer;
}
#sobre-mim .btn-x:hover {
  background-color: #0b1c2b;
}
#sobre-mim .conteudo {
  display: flex;
}
#sobre-mim #p-r {
  margin-left: 20px;
  margin-top: 20px;
}
#sobre-mim .p-opc {
  opacity: 40%;
  margin-top: -3px;
  margin-bottom: -3px;
}
#sobre-mim .p-principal {
  opacity: 80%;
}
#sobre-mim span {
  color: #fea55f;
}
.left-nav {
  width: 200px;
  height: 613px;
  list-style: none;
  border-right: 0.1rem solid #364758;
  padding: 12px;
  margin-left: 5px;
  text-align: justify;
  margin-bottom: 30px;
}
.left-nav ul {
  width: 500px;
}
.left-nav li {
  list-style: none;
  align-items: center;
  color: #909090;
  margin-bottom: 5px;
}
.left-nav li:hover {
  color: #e5e9f0;
}
#li-contact-sobre {
  border-left: 0.1rem solid #364758;
  width: 130px;
  list-style: none;
  padding: 12px;
  margin-left: 5px;
  text-align: center;
}
