.container {
  width: 100%;
  height: 850px;
  max-width: 1200px;
}
.flex-c {
  display: flex;
  align-items: center;
}
.flex-bt {
  display: flex;
  justify-content: space-between;
}
.flex-bt-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-ar-c {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flex-ar-c {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.ma {
  margin: 0 auto;
}
.bb {
  border-bottom: 0.1rem solid #e99287;
}
.header {
  max-width: 90%;
  display: flex;
  border: 0.1rem solid #1e2d3d;
  border-radius: 5px;
  margin: 20px auto 0;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header-ul {
  display: flex;
}
.header-li {
  width: 130px;
  list-style: none;
  border-right: 0.1rem solid #1e2d3d;
  padding: 12px;
  margin-left: 5px;
  text-align: center;
}
.header-li:not(#name,.page-hello):hover {
  color: #fea55f;
}
.li-contact {
  border-left: 0.1rem solid #1e2d3d;
  width: 130px;
  list-style: none;
  padding: 12px;
  margin-left: 5px;
  text-align: center;
}
.li-contact:hover {
  color: #fea55f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-color: #011221;
  font-family: "Fira Code", monospace;
  color: #e5e9f0;
}
body a {
  color: inherit;
  text-decoration: none;
}
body p {
  margin: 5px;
}
#name {
  width: 200px;
  text-align: left;
}
#hello {
  width: 100%;
  height: 850px;
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 100%;
}
#hello h1 {
  font-size: 4rem;
  font-weight: 500;
}
#hello h2 {
  font-size: 2rem;
  font-weight: 400;
  color: #4d5bce;
  margin-bottom: 40px;
}
#hello p {
  margin-bottom: 10px;
  line-height: 1.8;
}
.page-hello {
  border-bottom: 0.1rem solid #e99287;
}
#github-project {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
#github-project p {
  margin-right: 10px;
  font-size: 1.2rem;
}
#github-project #var {
  color: #4d5bce;
}
#github-project #gt-link {
  color: #3c9d93;
}
#github-project #link-presentation {
  color: #fea55f;
}
.box-presentation {
  width: 500px;
  height: 460px;
  background-image: linear-gradient(#3c9d93, #4d5bce);
  border-radius: 20px;
  border: 0.5px solid black;
}
.circle {
  position: relative;
  width: 13px;
  height: 13px;
  background-color: #011221;
  border-radius: 50%;
}
#top-left {
  top: 11px;
  left: 9px;
}
#top-right {
  top: -3px;
  left: 95%;
}
#bottom-left {
  top: 89%;
  left: 10px;
}
#bottom-right {
  top: 86%;
  left: 95.3%;
}
