@import "mixins";
@import "variables";

//GENERAL
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: @bg;
  font-family: @font-f;
  color: @primary;

  a {
    color: inherit;
    text-decoration: none;
  }

  p {
    margin: 5px;
  }
}

#name {
  width: 200px;
  text-align: left;
}

#hello {
  .flex-c;
  .ma;
  max-width: 100%;

  h1 {
    font-size: 4rem;
    font-weight: 500;
  }

  h2 {
    font-size: 2rem;
    font-weight: 400;
    color: @gd-final;
    .mb(40px);
  }

  p {
    .mb(10px);
    line-height: 1.8;
  }

  .text-presentation {
    max-width: 650px;
    margin-right: 20px;
  }
}

.page-hello {
  .bb;
}

#github-project {
  .flex-c-c;

  p {
    font-size: 1.2rem;
  }

  #var {
    color: @gd-final;
  }

  #gt-link {
    color: @gd-in;
  }

  #link-presentation {
    color: @secondary;
  }
}

.box-presentation {
  width: 500px;
  height: 460px;
  background-image: linear-gradient(@gd-in, @gd-final);
  border-radius: 20px;
  border: 0.5px solid black;
}

.circle {
  position: relative;
  width: 13px;
  height: 13px;
  background-color: @bg;
  border-radius: 50%;
}

#top-left {
  top: 11px;
  left: 9px;
}

#top-right {
  top: -3px;
  left: 95%;
}

#bottom-left {
  top: 89%;
  left: 10px;
}

#bottom-right {
  top: 86%;
  left: 95.3%;
}

#sobre-mim {
  position: relative;
  max-width: 1200px;
  border-bottom: 0.1rem solid @bd;
  border-right: 0.1rem solid @bd;
  border-left: 0.1rem solid @bd;
  border-radius: 5px;
  height: 659px;
  .mb(30px);
  .ma;

  .header {
    border: none;
    .wdt;
    border-top: 0.1rem solid @bd;
    border-bottom: 0.1rem solid @bd;
  }

  .header-li {
    .flex-ar-c;
  }

  .header-li:not(#name) {
    width: 220px;
  }

  img {
    width: 18px;
    height: 18px;
  }

  .btn-x{
    width: 21px;
    height: 20px;
    background-color: transparent;
    border: none;
    color: @primary;
    cursor: pointer;
  }
  .btn-x:hover{
    background-color: @bg + 10;
  }

  #p-r{
    position: relative;
    left: 20%;
    bottom: 93%;
  }

  .p-opc{
    opacity: 40%; 
    margin-top: -3px;
    margin-bottom: -3px;
  }

  .p-principal{
    opacity: 80%; 
  }

  span{
    color: @secondary;
  }
}

.left-nav {
  width: 200px;
  height: 613px;
  list-style: none;
  border-right: 0.1rem solid @bd;
  padding: 12px;
  margin-left: 5px;
  text-align: justify;
  .mb(30px);

  ul {
    width: 500px;
  }

  li {
    list-style: none;
    align-items: center;
    color: @text-nav;
    .mb(5px);
  }
  li:hover {
    color: @hov-nav;
  }



}

#li-contact-sobre {
  border-left: 0.1rem solid @bd;
  width: 130px;
  list-style: none;
  padding: 12px;
  margin-left: 5px;
  text-align: center;
}
