.container {
  width: 100%;
  height: 850px;
  max-width: 1200px;
}
.wdt {
  width: 100%;
  max-width: 1200px;
}
.flex-c {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-c-c {
  display: flex;
  align-items: center;
}
.flex-bt {
  display: flex;
  justify-content: space-between;
}
.flex-bt-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-ar-c {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flex-ar-c {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.ma {
  margin: 0 auto;
}
.bb {
  border-bottom: 0.1rem solid #e99287;
}
.header {
  max-width: 1200px;
  display: flex;
  border: 0.1rem solid #364758;
  border-radius: 5px;
  margin: 20px auto 0;
  height: 45px;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header-ul {
  display: flex;
}
.header-li {
  min-width: 130px;
  list-style: none;
  border-right: 0.1rem solid #364758;
  padding: 12px;
  margin-left: 5px;
  text-align: center;
}
.header-li:not(#name, .page-hello):hover {
  color: #fea55f;
}
.li-contact {
  border-left: 0.1rem solid #364758;
  width: 130px;
  list-style: none;
  padding: 12px;
  margin-left: 5px;
  text-align: center;
}
.li-contact:hover {
  color: #fea55f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-color: #011221;
  font-family: "Fira Code", monospace;
  color: #e5e9f0;
}
body a {
  color: inherit;
  text-decoration: none;
}
body p {
  margin: 5px;
}
#name {
  width: 200px;
  text-align: left;
}
#hello {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 100%;
}
#hello h1 {
  font-size: 4rem;
  font-weight: 500;
}
#hello h2 {
  font-size: 2rem;
  font-weight: 400;
  color: #4d5bce;
  margin-bottom: 40px;
}
#hello p {
  margin-bottom: 10px;
  line-height: 1.8;
}
#hello .text-presentation {
  max-width: 650px;
  margin-right: 20px;
}
.page-hello {
  border-bottom: 0.1rem solid #e99287;
}
#github-project {
  display: flex;
  align-items: center;
}
#github-project p {
  font-size: 1.2rem;
}
#github-project #var {
  color: #4d5bce;
}
#github-project #gt-link {
  color: #3c9d93;
}
#github-project #link-presentation {
  color: #fea55f;
}
.box-presentation {
  width: 500px;
  height: 460px;
  background-image: linear-gradient(#3c9d93, #4d5bce);
  border-radius: 20px;
  border: 0.5px solid black;
}
.circle {
  position: relative;
  width: 13px;
  height: 13px;
  background-color: #011221;
  border-radius: 50%;
}
#top-left {
  top: 11px;
  left: 9px;
}
#top-right {
  top: -3px;
  left: 95%;
}
#bottom-left {
  top: 89%;
  left: 10px;
}
#bottom-right {
  top: 86%;
  left: 95.3%;
}
#sobre-mim {
  position: relative;
  max-width: 1200px;
  border-bottom: 0.1rem solid #364758;
  border-right: 0.1rem solid #364758;
  border-left: 0.1rem solid #364758;
  border-radius: 5px;
  height: 659px;
  margin-bottom: 30px;
  margin: 0 auto;
}
#sobre-mim .header {
  border: none;
  width: 100%;
  max-width: 1200px;
  border-top: 0.1rem solid #364758;
  border-bottom: 0.1rem solid #364758;
}
#sobre-mim .header-li {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#sobre-mim .header-li:not(#name) {
  width: 220px;
  display: none;
}
#sobre-mim .img-header {
  width: 18px;
  height: 18px;
}
#sobre-mim .btn-x {
  width: 21px;
  height: 20px;
  background-color: transparent;
  border: none;
  color: #e5e9f0;
  cursor: pointer;
}
#sobre-mim .btn-x:hover {
  background-color: #0b1c2b;
}
#sobre-mim .conteudo {
  display: flex;
}
#sobre-mim #p-sobre {
  margin-left: 20px;
  margin-top: 20px;
  display: none;
}
#sobre-mim #p-educacao {
  margin-left: 20px;
  margin-top: 20px;
  display: none;
}
#sobre-mim #p-habilidades {
  margin-left: 20px;
  margin-top: 20px;
  display: none;
}
#sobre-mim .p-opc {
  opacity: 40%;
  margin-top: -3px;
  margin-bottom: -3px;
}
#sobre-mim .p-principal {
  opacity: 80%;
}
#sobre-mim span {
  color: #fea55f;
}
#sobre-mim .css {
  color: #3c9d93;
}
.left-nav {
  width: 200px;
  height: 613px;
  list-style: none;
  border-right: 0.1rem solid #364758;
  padding: 12px;
  margin-left: 5px;
  text-align: justify;
  margin-bottom: 30px;
}
.left-nav ul {
  width: 500px;
}
.left-nav li {
  list-style: none;
  align-items: center;
  color: #909090;
  margin-bottom: 5px;
}
.left-nav li:hover {
  color: #e5e9f0;
}
.left-nav .btn-nav-l {
  background-color: transparent;
  border: none;
  color: #5b6c7b;
  cursor: pointer;
  padding-bottom: 3px;
  margin-top: 5px;
  font-size: 1rem;
  text-align: center;
}
.left-nav .btn-nav-l:hover {
  color: #ffffff;
}
.left-nav .img-nav {
  width: 15px;
  height: 15px;
}
#li-contact-sobre {
  border-left: 0.1rem solid #364758;
  width: 130px;
  list-style: none;
  padding: 12px;
  margin-left: 5px;
  text-align: center;
}
.btn-ide {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #e5e9f0;
  font-family: inherit;
}
.btn-ide:hover {
  color: #fea55f;
}
/*PROJETOS*/
#projeto {
  margin: 90px 0 10px;
}
#projeto h2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
}
.cards {
  height: 500px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card {
  width: 300px;
  height: 400px;
  background: #333;
  border-radius: 10px;
  outline: 1px solid rgba(255, 255, 255, 0.5);
  outline-offset: -8px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}
.card-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
  transition: 0.75s;
}
.card:hover {
  transform: scale(1.15);
}
.card-title {
  position: absolute;
  left: 15px;
  bottom: 15px;
  font-size: 20px;
  text-shadow: 2px 2px black;
}
.carde {
  width: 300px;
  height: 400px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}
.carde img {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: transform 0.5s;
  filter: 0.4s;
  object-fit: cover;
}
.carde input[type="checkbox"] {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  width: 40px;
  height: 40px;
  background: #272727;
  color: white;
  font-weight: 900;
  appearance: none;
  bottom: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
  z-index: 10;
  transition: transform 0.4s;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.238);
}
.carde input[type="checkbox"]:checked {
  translate: -460%;
}
.carde input[type="checkbox"]::before {
  content: "\f129";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  font-family: inherit;
  font-weight: 700;
  font-size: 1em;
}
.carde input[type="checkbox"]:checked ~ img {
  transform: scale(1.2) rotate(-20deg);
  filter: blur(10px);
}
.carde input[type="checkbox"]:checked::before {
  content: '\f2ea';
  font-weight: 900;
}
.carde .git {
  position: absolute;
  bottom: 15px;
  right: 20px;
  font-size: xx-large;
  z-index: 2;
}
.carde .play {
  position: absolute;
  bottom: 15px;
  right: 70px;
  font-size: xx-large;
  z-index: 2;
}
.side {
  position: absolute;
  width: 85%;
  height: 85%;
  background: white;
  z-index: 5;
  bottom: 0%;
  right: 0;
  border-radius: 10px 0 0 0;
  background: rgba(29, 29, 29, 0.989);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.538);
  transform: translate(100%);
  transition: translate 0.4s;
}
.carde input[type="checkbox"]:checked ~ .side {
  transform: translate(0%);
}
.side h3 {
  color: #ffffff;
  margin: 25px 0 10px 15px;
}
.side p {
  color: #ffffff;
  margin-left: 15px;
  font-size: 0.8em;
}
